{% load static %}
<html>
    <head>
        <title>Top App</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Top Apps</a></h1>
        </div>

        {% if apps %}
            <ul>
            {% for app in apps %}
                <li><a href="/appdetails/?pkg={{ app.package }}">{{ app.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No Apps available.</p>
        {% endif %}
    </body>
</html>